@use "reset";

body{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    font-size: x-large;
    text-decoration: none;
    padding: .5rem;
    font-style: oblique;
    color: black;
}