@use "reset";

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

h1{
    font-size: xx-large;
}

.navbar {
    background-color: maroon;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;

    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}
main {
    margin-top: 2rem;
}

.show {
    display: flex;
}

.hide {
    display: none;
}